In [1]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('MagicBricks.csv')

In [3]:
df.head(5)

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
 10  Per_Sqft     1018 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 108.3+ KB

In [5]:
df.shape

(1259, 11)

In [6]:
df

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

In [7]:
df['Locality'] = df['Locality'].str.split(',').str[-1].str.replace(')', '').str.strip()

In [8]:
df.sample(5)

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
401,495.000,2,2.0,Semi-Furnished,Uttam Nagar West,1.0,2150000,Ready_to_move,New_Property,Builder_Floor,6111.0
952,430.556,1,1.0,Unfurnished,Dilshad Garden,1.0,4300000,Ready_to_move,Resale,Apartment,9375.0
1231,1600.000,3,3.0,Semi-Furnished,Chittaranjan Park,2.0,33500000,Ready_to_move,New_Property,Builder_Floor,20938.0
833,405.000,1,1.0,Unfurnished,Mehrauli,1.0,1500000,Ready_to_move,Resale,Apartment,3778.0
735,1400.000,4,2.0,Furnished,Mathura Road,2.0,17400000,Ready_to_move,Resale,Apartment,NaN

In [9]:
df

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,Rohini Sector 13,1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Main Road car parking 1 Open bathroom 2 balcon...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

In [10]:
def count_words(Locality):
    return len(Locality.split())

df_filtered = df[df['Locality'].apply(count_words) <= 10]


df_filtered['Locality'].unique()

array(['Rohini Sector 25', 'Rohini Sector 24', 'Rohini Sector 13',
       'Rohini Sector 21', 'Rohini Sector 22', 'Rohini Sector 20',
       'Rohini Sector 16', 'Rohini Sector 14', 'Rohini Sector 9',
       'Rohini', 'Rohini Sector 5', 'Rohini Sector 28',
       'Rohini Sector 19', 'Lajpat Nagar 2', 'Lajpat Nagar 1',
       'Lajpat Nagar', 'Lajpat Nagar 4', 'Lajpat Nagar 3',
       'Dwarka Sector 14', 'Dwarka Sector 24', 'Dwarka Sector 21',
       'Dwarka Sector 12', 'Dwarka', 'Dwarka Sector 7',
       'Dwarka Sector 23', 'Dwarka Sector 19', 'Dwarka Sector 5',
       'Dwarka Sector 18', 'Dwarka Sector 11', 'Dwarka Sector 3',
       'Dwarka Sector 4', 'Dwarka Sector 16B', 'Budh Vihar',
       'Budh Vihar Phase 1', 'Budh Vihar Phase 2', 'Rohini Sector 23',
       'Patel Nagar', 'Uttam Nagar', 'Dwarka Mor', 'Greater Kailash 2',
       'Okhla', 'Greater Kailash 1', 'Janakpuri Block A3', 'Karol Bagh',
       'Najafgarh', 'Vasant Vihar', 'Vasant Kunj', 'Madangir',
       'New Friends Colony', 'Greater Kailash', 'Shahdara', 'Laxmi Nagar',
       'Uttam Nagar West', 'Razapur Khurd', 'Patel Nagar West',
       'Vasant Kunj Sector B', 'Vasant Kunj Sector D',
       'Vasant Kunj Sector A', 'Vasant Kunj Sector C', 'Geeta Colony',
       'Krishna Nagar Block A', 'Khairatabad', 'Chandni Chowk', 'Saket',
       'Safdarjung Enclave', 'Krishna Nagar-Safdarjung Enclave',
       'Paschim Vihar', 'Paschim Vihar Block B2',
       'Paschim Vihar Block B4', 'Paschim Vihar Block B1',
       'Paschim Vihar Block A2', 'Dwarka 2500+ Buyers Served',
       'Commonwealth Games Village 2010', 'Akshardham Temple',
       'Alaknanda', 'Greater Kailash 4 Nri Colony', 'Mathura Road',
       'Sarita Vihar Pocket K', 'Ring Road', 'Sarita Vihar Pocket B',
       'Sarita Vihar Pocket F', 'Sultanpur', 'Sultanpur Extension',
       'Manglapuri', 'Chhattarpur', 'Chhattarpur Enclave Phase2',
       'Mehrauli', 'Mahavir Enclave', 'Mahavir Enclave Part 1',
       'Mahavir Enclave Part 3', 'Narela', 'Narela Mandi',
       'Narela Sector A9', 'Narela Sector A5', 'Malviya Nagar',
       'Dilshad Garden', 'Vasundhara Enclave', 'Okhla Phase 1',
       'Kirti Nagar', 'Sheikh Sarai Phase 1', 'Sheikh Sarai',
       'Sheikh Sarai Phase 2', 'Punjabi Bagh West', 'Punjabi Bagh',
       'Punjabi Bagh East', 'Kalkaji', 'KalkaJi', 'Kalkaji Extention',
       'Hauz Khas', 'Chittaranjan Park', 'Chittaranjan Park Block A'],
      dtype=object)

In [11]:
df=df_filtered

In [12]:
df

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,Rohini Sector 13,1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector 24,1.0,15500000,Ready_to_move,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

In [13]:
df.describe()

,Area,BHK,Bathroom,Parking,Price,Per_Sqft
count,1212.000000,1212.000000,1210.000000,1180.000000,1.212000e+03,979.000000
mean,1473.693877,2.802805,2.560331,1.960169,2.152771e+07,15668.392237
std,1588.744327,0.953013,1.048886,6.397699,2.590949e+07,21177.763925
min,28.000000,1.000000,1.000000,1.000000,1.000000e+06,1259.000000
25%,800.000000,2.000000,2.000000,1.000000,5.800000e+06,6355.500000
50%,1200.000000,3.000000,2.000000,1.000000,1.450000e+07,11111.000000
75%,1700.000000,3.000000,3.000000,2.000000,2.600000e+07,18055.000000
max,24300.000000,10.000000,7.000000,114.000000,2.400000e+08,183333.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1212 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1212 non-null   float64
 1   BHK          1212 non-null   int64
 2   Bathroom     1210 non-null   float64
 3   Furnishing   1207 non-null   object
 4   Locality     1212 non-null   object
 5   Parking      1180 non-null   float64
 6   Price        1212 non-null   int64
 7   Status       1212 non-null   object
 8   Transaction  1212 non-null   object
 9   Type         1207 non-null   object
 10  Per_Sqft     979 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 113.6+ KB

In [15]:
df.isnull().sum()

Area             0
BHK              0
Bathroom         2
Furnishing       5
Locality         0
Parking         32
Price            0
Status           0
Transaction      0
Type             5
Per_Sqft       233
dtype: int64

In [16]:
df.drop(columns=['Furnishing','Parking','Status','Transaction','Per_Sqft'],inplace=True)

In [17]:
df

,Area,BHK,Bathroom,Locality,Price,Type
0,800.0,3,2.0,Rohini Sector 25,6500000,Builder_Floor
1,750.0,2,2.0,Rohini Sector 24,5000000,Apartment
2,950.0,2,2.0,Rohini Sector 13,15500000,Apartment
3,600.0,2,2.0,Rohini Sector 24,4200000,Builder_Floor
5,1300.0,4,3.0,Rohini Sector 24,15500000,Builder_Floor
...,...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000,Builder_Floor
1255,1050.0,3,2.0,Chittaranjan Park,12500000,Builder_Floor
1256,875.0,3,3.0,Chittaranjan Park,17500000,Builder_Floor
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000,Builder_Floor
1258,11050.0,3,3.0,Chittaranjan Park,18500000,Builder_Floor

In [18]:
df['Type'].unique()

array(['Builder_Floor', 'Apartment', nan], dtype=object)

In [19]:
df.dropna(subset=['Type'],inplace=True)

In [20]:
df

,Area,BHK,Bathroom,Locality,Price,Type
0,800.0,3,2.0,Rohini Sector 25,6500000,Builder_Floor
1,750.0,2,2.0,Rohini Sector 24,5000000,Apartment
2,950.0,2,2.0,Rohini Sector 13,15500000,Apartment
3,600.0,2,2.0,Rohini Sector 24,4200000,Builder_Floor
5,1300.0,4,3.0,Rohini Sector 24,15500000,Builder_Floor
...,...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000,Builder_Floor
1255,1050.0,3,2.0,Chittaranjan Park,12500000,Builder_Floor
1256,875.0,3,3.0,Chittaranjan Park,17500000,Builder_Floor
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000,Builder_Floor
1258,11050.0,3,3.0,Chittaranjan Park,18500000,Builder_Floor

In [21]:
df.isnull().sum()

Area        0
BHK         0
Bathroom    2
Locality    0
Price       0
Type        0
dtype: int64

In [22]:
df.dropna(subset=['Bathroom'],inplace=True)

In [23]:
df

,Area,BHK,Bathroom,Locality,Price,Type
0,800.0,3,2.0,Rohini Sector 25,6500000,Builder_Floor
1,750.0,2,2.0,Rohini Sector 24,5000000,Apartment
2,950.0,2,2.0,Rohini Sector 13,15500000,Apartment
3,600.0,2,2.0,Rohini Sector 24,4200000,Builder_Floor
5,1300.0,4,3.0,Rohini Sector 24,15500000,Builder_Floor
...,...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000,Builder_Floor
1255,1050.0,3,2.0,Chittaranjan Park,12500000,Builder_Floor
1256,875.0,3,3.0,Chittaranjan Park,17500000,Builder_Floor
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000,Builder_Floor
1258,11050.0,3,3.0,Chittaranjan Park,18500000,Builder_Floor

In [24]:
df.isnull().sum()

Area        0
BHK         0
Bathroom    0
Locality    0
Price       0
Type        0
dtype: int64

In [25]:
df

,Area,BHK,Bathroom,Locality,Price,Type
0,800.0,3,2.0,Rohini Sector 25,6500000,Builder_Floor
1,750.0,2,2.0,Rohini Sector 24,5000000,Apartment
2,950.0,2,2.0,Rohini Sector 13,15500000,Apartment
3,600.0,2,2.0,Rohini Sector 24,4200000,Builder_Floor
5,1300.0,4,3.0,Rohini Sector 24,15500000,Builder_Floor
...,...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000,Builder_Floor
1255,1050.0,3,2.0,Chittaranjan Park,12500000,Builder_Floor
1256,875.0,3,3.0,Chittaranjan Park,17500000,Builder_Floor
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000,Builder_Floor
1258,11050.0,3,3.0,Chittaranjan Park,18500000,Builder_Floor

In [26]:
df.to_csv("Cleaned_data.csv")

In [27]:
x=df.drop(columns=['Price'])

In [28]:
y=df['Price']

In [29]:
x

         Area  BHK  Bathroom                   Locality           Type
0       800.0    3       2.0           Rohini Sector 25  Builder_Floor
1       750.0    2       2.0           Rohini Sector 24      Apartment
2       950.0    2       2.0           Rohini Sector 13      Apartment
3       600.0    2       2.0           Rohini Sector 24  Builder_Floor
5      1300.0    4       3.0           Rohini Sector 24  Builder_Floor
...       ...  ...       ...                        ...            ...
1254   4118.0    4       5.0          Chittaranjan Park  Builder_Floor
1255   1050.0    3       2.0          Chittaranjan Park  Builder_Floor
1256    875.0    3       3.0          Chittaranjan Park  Builder_Floor
1257    990.0    2       2.0  Chittaranjan Park Block A  Builder_Floor
1258  11050.0    3       3.0          Chittaranjan Park  Builder_Floor

[1205 rows x 5 columns]

In [30]:
y

0        6500000
1        5000000
2       15500000
3        4200000
5       15500000
          ...
1254    55000000
1255    12500000
1256    17500000
1257    11500000
1258    18500000
Name: Price, Length: 1205, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [33]:
x_train.shape

(964, 5)

In [34]:
x_test.shape

(241, 5)

In [35]:
cat_cols=['Locality','Type']
num_cols=['Area','BHK','Bathroom']

num_pipeline=Pipeline(steps=[('scaling',StandardScaler())])
cat_pipline=Pipeline(steps=[('encoding',OneHotEncoder(handle_unknown='ignore'))])
preprocessor=ColumnTransformer([('num_pipeline',num_pipeline,num_cols),
                  ('cat_pipeline',cat_pipline,cat_cols)])

pipe = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('lr', LinearRegression())])

In [36]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_pipeline',
                                                  Pipeline(steps=[('scaling',
                                                                   StandardScaler())]),
                                                  ['Area', 'BHK', 'Bathroom']),
                                                 ('cat_pipeline',
                                                  Pipeline(steps=[('encoding',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Locality', 'Type'])])),
                ('lr', LinearRegression())])

In [37]:
y_pred=pipe.predict(x_test)

In [38]:
r2_score(y_pred,y_test)

0.518117310993053

In [40]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
import numpy as np



# Input the Data
a = float(input("Area: "))  
b = int(input("BHK: "))     
c = float(input("Bathroom: "))  
d = input("Locality: ")    
e = input("Type: ")         

# Prepare input data (input you want to predict)
input_data = pd.DataFrame({
    'Area': [a],
    'BHK': [b],
    'Bathroom': [c],
    'Locality': [d],
    'Type': [e]
})

# Column names
cat_cols = ['Locality', 'Type']
num_cols = ['Area', 'BHK', 'Bathroom']

# Define the numerical and categorical pipelines
num_pipeline = Pipeline(steps=[('scaling', StandardScaler())])
cat_pipeline = Pipeline(steps=[('encoding', OneHotEncoder(handle_unknown='ignore'))])

# Define the preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num_pipeline', num_pipeline, num_cols),
        ('cat_pipeline', cat_pipeline, cat_cols)
    ])

# Define the full pipeline with preprocessor and linear regression model
pipe = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('lr', LinearRegression())
])

# Fit the pipeline on the training data (DataFrame)
pipe.fit(x_train, y_train)

# Now you can predict on new data (input_data)
prediction = pipe.predict(input_data)

# Output the prediction
print("Prediction: Rs ", prediction)

Area:  2500
BHK:  5
Bathroom:  5
Locality:  Dwarka Sector 19
Type:  Builder Floor

Prediction: Rs  [42711108.24151796]